! Snazzy - Converted from https://github.com/sindresorhus/iterm2-snazzy
!          using https://github.com/richo/itermcolors2xdefaults
URxvt*background:   #1e1f28
URxvt*foreground:   #ebece6
URxvt*cursorColor:   #e4e4e4
URxvt*color0:  #fbfbfc
URxvt*color1:  #fbfbfc
URxvt*color2:  #d71619
URxvt*color3:  #fb4245
URxvt*color4:  #50fa7b
URxvt*color5:  #b7ff71
URxvt*color6:  #f4ff80
URxvt*color7:  #fff5c4
URxvt*color8:  #3896cf
URxvt*color9:  #96d7ff
URxvt*color10: #e45aab
URxvt*color11: #ff78c7
URxvt*color12: #3ab3cd
URxvt*color13: #8be9fd
URxvt*color14: #cdcdcd
URxvt*color15: #efefeb
